doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='JamSMP Team')

        title JamSMP - Just Another Minecraft SMP

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand(href='#page-top') JamSMP
                button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#rules') Rules
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#discord') Discord

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                //img.masthead-avatar.mb-5(src='assets/img/avataaars.svg', alt='...')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 JamSMP Minecraft Server
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Build - Farm - Redstone

        section#rules.page-section.portfolio
            .container
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mp-0 Rules
            .row
                .col-lg-4.ms-auto
                    p.lead Here are the rules (the numbers at the end indicate the number of warnings given):
                    ol
                        li No griefing - destroying or disfiguring builds that you do not own. (1-3)
                        li No stealing - taking/using other's or unmarked items, pets, and farms without asking. (1-3)
                        li
                            | No hacking or seed grabbing - for a historical list of allowed client mods
                            a(href="https://pridelandsmc.fandom.com/wiki/Allowed_Client_Mods") visit the old Pridelands MC Wiki
                            | . (2-4)
                        li No killing without agreement - whether it be by unwarranted PvP or traps. Both parties should agree to any fight. (1-2)
                        li No excessive entities or unnecessary tiles - such as villagers, cows, hoppers, and furnaces. (1-4)
                        li No discrimination or slurs - based on unchangeable characteristics. (1-2)
                        li No advertising - other servers, discords, websites, or social media pages. (1)
                        li No NSFW or scams - anywhere. (2-4)
                        li Respect others - by not harassing, begging, annoying, insulting, or bullying them. This applies to builds as well as chat. (1-2)
                        li Keep your base open - allowing peaceful players to visit your base is part of the point of Jams. (1)
                        li Be respectful on Discord and during events - do not spam, follow the ToS, and keep serious channels clean. (1)


                .col-lg-4.me-auto
                    p.lead If you break the rules as soon as you join, leave the server, or break the rules to an extreme extent, you will be banned without warning or question, regardless of what was broken. You must remain in the Discord to keep your place on the server.
                    p.lead We do not police DMs on this server unless the offender is blatantly breaking ToS.
                    // For the full detailed rules, please visit our website at https://pridelandsmc.fandom.com/wiki/Rules.
                    p.lead We will always enforce the ToS and Community Guidelines, as well as the Minecraft EULA.

        // Portfolio Section
        //section#portfolio.page-section.portfolio
        //    .container
        //        // Portfolio Section Heading
        //        h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
        //        // Icon Divider
        //        .divider-custom
        //            .divider-custom-line
        //            .divider-custom-icon
        //                i.fas.fa-star
        //            .divider-custom-line
        //        // Portfolio Grid Items
        //        .row.justify-content-center
        //            // Portfolio Item 1
        //            .col-md-6.col-lg-4.mb-5
        //                .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal1')
        //                    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
        //                        .portfolio-item-caption-content.text-center.text-white
        //                            i.fas.fa-plus.fa-3x
        //                    img.img-fluid(src='assets/img/portfolio/cabin.png', alt='...')
        //            // Portfolio Item 2
        //            .col-md-6.col-lg-4.mb-5
        //                .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal2')
        //                    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
        //                        .portfolio-item-caption-content.text-center.text-white
        //                            i.fas.fa-plus.fa-3x
        //                    img.img-fluid(src='assets/img/portfolio/cake.png', alt='...')
        //            // Portfolio Item 3
        //            .col-md-6.col-lg-4.mb-5
        //                .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal3')
        //                    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
        //                        .portfolio-item-caption-content.text-center.text-white
        //                            i.fas.fa-plus.fa-3x
        //                    img.img-fluid(src='assets/img/portfolio/circus.png', alt='...')
        //            // Portfolio Item 4
        //            .col-md-6.col-lg-4.mb-5.mb-lg-0
        //                .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal4')
        //                    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
        //                        .portfolio-item-caption-content.text-center.text-white
        //                            i.fas.fa-plus.fa-3x
        //                    img.img-fluid(src='assets/img/portfolio/game.png', alt='...')
        //            // Portfolio Item 5
        //            .col-md-6.col-lg-4.mb-5.mb-md-0
        //                .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal5')
        //                    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
        //                        .portfolio-item-caption-content.text-center.text-white
        //                            i.fas.fa-plus.fa-3x
        //                    img.img-fluid(src='assets/img/portfolio/safe.png', alt='...')
        //            // Portfolio Item 6
        //            .col-md-6.col-lg-4
        //                .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal6')
        //                    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
        //                        .portfolio-item-caption-content.text-center.text-white
        //                            i.fas.fa-plus.fa-3x
        //                    img.img-fluid(src='assets/img/portfolio/submarine.png', alt='...')

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-white About
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // About Section Content
                //.container
                .row
                    .col-lg-6.m-auto
                        p.lead
                            | Welcome to "Just another minecraft server" or in short, Jams, The Community focused SMP

                .row
                    .col-lg-4.ms-auto
                        h5 Commonly asked questions and answers
                        ul
                            li
                                | Q: Can I use cracked accounts?
                                br
                                | A: This server does not support cracked accounts.
                            li
                                | Q: Is there land claims, TPA etc?
                                br
                                | A: This server does not have these by principle.
                            li
                                | Q: Can I dupe?
                                br
                                | A: Duping only rails, TNT, carpet and gravity blocks are allowed.
                            li
                                | Q: Is hacking, stealing etc allowed?
                                br
                                | A: No, see rules.
                        //h5 Partnered Servers
                        //
                        //p.lead LEM is a near perfect port of legacy console editions minigames, which is currently still in development.
                        //p.lead Right now, you can play Battle, but tumble and glide are in early development.
                        //p.lead.text-white
                        //    a(href="https://discord.gg/B9dDtrAKu4").text-white https://discord.gg/B9dDtrAKu4


                    .col-lg-4.me-auto
                        h5 What is Jams?
                        p.lead As a server, we try to fill a void in the Minecraft server space, it is an open world vanilla server that is also not anarchy, think Hermitcraft but the players are less famous.
                        p.load We have no majorly gameplay-altering plugins, including teleportation, playerhomes, no skills system, and no out of game economy.
                        p.load We also do not allow Staff members to abuse their power and spawn in OP items. They should be just like normal players when not doing staff work.
                        p.load We are 100% Minecraft EULA complaint and have no pay to win features. While we do have a patreon with many great perks, subscribing to it will not put you at an advantage over others.
                        p.load We allow all vanilla glitches to be used in game such as TNT duping, bedrock breaking, headless pistons, stasis chambers, composter xraying, infinite zombie villager cures, nether roof travel, and villager trade resetting.
                        p.load However, we do not allow item duping. The server runs on Purpur (a speedy server) without any dodgy plugins so this is pretty much impossible to do anyway. Carpet, rail, TNT and gravity block duping is considered a vanilla glitch as above and is allowed.
                        p.load We do our best to ensure your bases and items are safe with efficient moderation, rollback and report systems that replace what land claims would do on a conventional server.


        // Contact Section
        section#discord.page-section
            .container
                // Contact Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Join Our Discord
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Contact Section Form
                .row.justify-content-center
                    .col-lg-8.col-xl-7
                        p.lead
                            | Discord invite:
                            a(href="https://discord.gg/pridelandsmc-473649389462749195") Click here to join

        // Footer
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        //h4.text-uppercase.mb-4 Location
                        //p.lead.mb-0
                        //    | 2215 John Daniel Drive
                        //    br
                        //    | Clark, MO 65243
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Server IP
                        p.lead.mb-0 jamsmp-world1.minecraft.best
                        //a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                        //    i.fab.fa-fw.fa-facebook-f
                        //a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                        //    i.fab.fa-fw.fa-twitter
                        //a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                        //    i.fab.fa-fw.fa-linkedin-in
                        //a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                        //    i.fab.fa-fw.fa-dribbble
                    // Footer About Text
                    .col-lg-4
                        //h4.text-uppercase.mb-4 About Freelancer
                        //p.lead.mb-0
                        //    | Freelance is a free to use, MIT licensed Bootstrap theme created by
                        //    a(href='http://startbootstrap.com') Start Bootstrap
                        //    | .

        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Published by JamSMP Staff 2023
                //small Copyright &copy; Your Website 2022

        // Portfolio Modals
        //include includes/portfolio-modal-1.pug
        //include includes/portfolio-modal-2.pug
        //include includes/portfolio-modal-3.pug
        //include includes/portfolio-modal-4.pug
        //include includes/portfolio-modal-5.pug
        //include includes/portfolio-modal-6.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
